*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: #FAD6A5;
}
html p{
    font-size: 1.3rem;
}
html h2{
    font-size: 2rem;
}
header{
    width: 100vw;
    height: 15vh;
    background-color: #61764B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
header img{
    max-width: 13%;
}
nav{
    background-color: #FAD6A5;
    height: 40%;
    width: 60%;
    border-radius: 5px;
    border: 2px solid #c0a57e;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(31, 31, 31);
}
.main-child{
    background-color: #9BA17B;
    width: 90vw;
    min-height: 150px;
    border-radius: 5px;
    margin: 10px;
}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#intro p{
width: 60%;
text-align: center;
}
#productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#productos div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#productos img{
    width: 100px;
}



footer img{
    width: 30px;
}