#section-champs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.sec-champ-butt{
    margin-bottom: 3%;
    padding: 1%;
    background-color: rgb(88, 43, 124);
    width: 50%;
    font-size: 3rem;
    border-radius: 10px;
    border: rgb(0, 0, 0) 1px solid;
}
.sec-champ-butt:hover{
    background-color: rgb(70, 33, 100);
}
.sec-champ-butt:active{
    background-color: rgb(49, 23, 70);
    color: blanchedalmond;
}
.target-champs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.target-champs :first-child{
    width: 100%;
    margin-bottom: 2%;
    margin-top: 1%;
    text-align: center;
    font-size: 3rem;
    color: blanchedalmond;
    background-color: #25282c;
    border-radius: 10px;
}
.champ{
    width: 26%;
    background-color: #25282c;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 2%;
    text-align: center;
    color: blanchedalmond;
}
.champ picture img{
    width: 100%;
    border-radius: 10px;
}
.champ h3{
    margin: 1%;
}
.champ p{
    margin-bottom: 1%;
}
.champ-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}